<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HorrorScope</title>
</head>
<body>
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <nav id="sidebar">
        <menu id="sidebar-left">
          <ul>
            <li>
              <%= image_tag("zodiac_signs/detailed/Aries.svg", 'class'=> "detailed-sign") %><p>Aries</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Taurus.svg", 'class'=> "detailed-sign") %><p>Taurus</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Gemini.svg", 'class'=> "detailed-sign") %><p>Gemini</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Cancer.svg", 'class'=> "detailed-sign") %><p>Cancer</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Leo.svg", 'class'=> "detailed-sign") %><p>Leo</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Virgo.svg", 'class'=> "detailed-sign") %><p>Virgo</p>
            </li>
          </ul>
        </menu>
        <menu id="sidebar-right">
          <ul>
            <li>
              <%= image_tag("zodiac_signs/detailed/Libra.svg", 'class'=> "detailed-sign") %><p>Libra</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Scorpio.svg", 'class'=> "detailed-sign") %><p>Scorpio</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Sagittarius.svg", 'class'=> "detailed-sign") %><p>Sagittarius</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Capricorn.svg", 'class'=> "detailed-sign") %><p>Capricorn</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/Aquarius.svg", 'class'=> "detailed-sign") %><p>Aquarius</p>
            </li>
            <li>
              <%= image_tag("zodiac_signs/detailed/taurus.svg", 'class'=> "detailed-sign") %><p>Pisces</p>
            </li>
          </ul>
        </menu>
      </nav>
    </div>
    <main id="content">
      content
    </main>
    <footer>
      copy etc
    </footer>
  </div>
</body>
</html>