<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HorrorScope</title>
</head>
<body>
  <div id="wrapper">
    <%= image_tag("zodiac_signs/detailed/Aries.svg", 'class'=> "detailed-sign") %><p>Aries</p>
    <%= image_tag("zodiac_signs/detailed/Taurus.svg", 'class'=> "detailed-sign") %><p>Taurus</p>
    <%= image_tag("zodiac_signs/detailed/Gemini.svg", 'class'=> "detailed-sign") %><p>Gemini</p>
    <%= image_tag("zodiac_signs/detailed/Cancer.svg", 'class'=> "detailed-sign") %><p>Cancer</p>
    <%= image_tag("zodiac_signs/detailed/Leo.svg", 'class'=> "detailed-sign") %><p>Leo</p>
    <%= image_tag("zodiac_signs/detailed/Virgo.svg", 'class'=> "detailed-sign") %><p>Virgo</p>
    <%= image_tag("zodiac_signs/detailed/Libra.svg", 'class'=> "detailed-sign") %><p>Libra</p>
    <%= image_tag("zodiac_signs/detailed/Scorpio.svg", 'class'=> "detailed-sign") %><p>Scorpio</p>
    <%= image_tag("zodiac_signs/detailed/Sagittarius.svg", 'class'=> "detailed-sign") %><p>Sagittarius</p>
    <%= image_tag("zodiac_signs/detailed/Capricorn.svg", 'class'=> "detailed-sign") %><p>Capricorn</p>
    <%= image_tag("zodiac_signs/detailed/Aquarius.svg", 'class'=> "detailed-sign") %><p>Aquarius</p>
    <%= image_tag("zodiac_signs/detailed/Pisces.svg", 'class'=> "detailed-sign") %><p>Pisces</p>
    <main id="content">
      content
    </main>
    <footer>
      copy etc
    </footer>
  </div>
</body>
</html>