<div id="first-time" class="cover">
  <div class="inner">
    <h1>Welcome</h1>
    <p><input type="text" id="first-time-name" placeholder="name"></p>
    <p>birth date: <input type="number" id="first-time-days" placeholder="DD"><input type="number" id="first-time-months" placeholder="MM"></p>
    <p><input type="email" id="first-time-email" placeholder="email@address.com"></p>
    <p><button id="submit-first-time">submit</button>
    <button class="toggle-first-time">skip</button></p>
  </div>
</div>
<nav>
  <menu class="left">
    <ul>
      <li><a href="/horrorscopes/Aries"><%= image_tag("zodiac_signs/detailed/Aries.svg") %></a></li>
      <li><a href="/horrorscopes/Taurus"><%= image_tag("zodiac_signs/detailed/Taurus.svg") %></a></li>
      <li><a href="/horrorscopes/Gemini"><%= image_tag("zodiac_signs/detailed/Gemini.svg") %></a></li>
      <li><a href="/horrorscopes/Cancer"><%= image_tag("zodiac_signs/detailed/Cancer.svg") %></a></li>
      <li><a href="/horrorscopes/Leo"><%= image_tag("zodiac_signs/detailed/Leo.svg") %></a></li>
      <li><a href="/horrorscopes/Virgo"><%= image_tag("zodiac_signs/detailed/Virgo.svg") %></a></li>
    </ul>
  </menu>
  <menu class="right">
    <ul>
      <li><a href="/horrorscopes/Libra"><%= image_tag("zodiac_signs/detailed/Libra.svg") %></a></li>
      <li><a href="/horrorscopes/Scorpio"><%= image_tag("zodiac_signs/detailed/Scorpio.svg") %></a></li>
      <li><a href="/horrorscopes/Sagittarius"><%= image_tag("zodiac_signs/detailed/Sagittarius.svg") %></a></li>
      <li><a href="/horrorscopes/Capricorn"><%= image_tag("zodiac_signs/detailed/Capricorn.svg") %></a></li>
      <li><a href="/horrorscopes/Aquarius"><%= image_tag("zodiac_signs/detailed/Aquarius.svg") %></a></li>
      <li><a href="/horrorscopes/Pisces"><%= image_tag("zodiac_signs/detailed/Pisces.svg") %></a></li>
    </ul>
  </menu>
</nav>
<main id="content">
  <h1>HorrorScope</h1>
  <section>
    <h3><%= image_tag("zodiac_signs/simple/#{@horoscope.zodiac}.svg", 'class'=> "header-sign") %> <%= @horoscope.zodiac %></h3>
    <article>
      <p><%= @horoscope.general1%></p>
      <p><%= @horoscope.general2%></p>
      <p><%= @horoscope.general3%></p>
    </article>
    <article class="love">
      <%= image_tag("heart.png", 'class'=> "heart left", 'alt'=>'a love heart') %>
      <div class="right">
        <h5>Love</h5>
        <p><%= @horoscope.love%></p>
      </div>
    </article>
    <article class="money">
      <h5>Money</h5>
      <p><%= @horoscope.money%></p>
    </article>
  </section>
</main>
<section id='sidebar'>
  <div id="first-time-reaccess">
    <p class="toggle-first-time">Get custom horrorscopes to your email</p>
  </div>
  <div class="poster">
    <a href="<%= @movie? @movie.imdb : 'http://www.imdb.com/title/tt0339840/'%>" target="_blank"><%= image_tag("#{@movie? @movie.poster : 'http://ia.media-imdb.com/images/M/MV5BOTIyMjAyOTc1M15BMl5BanBnXkFtZTcwMjMxNTMzMQ@@._V1_SY317_CR5,0,214,317_AL_.jpg'}") %></a>
    <p>See the <%= JSON.parse(@horoscope.nouns).sample %> in action</p>
  </div>
  <div class="product">
    <% prod_link = ["https://m1.behance.net/rendition/modules/41270789/disp/720ad900749076a1ec68fc1cbff22943.jpg","https://s-media-cache-ak0.pinimg.com/236x/fe/0b/12/fe0b12f9b944bd8fb737429ccc16dc92.jpg","http://gizmodiva.com/wp-content/uploads/2013/08/organic-furniture-1.jpg","https://s-media-cache-ak0.pinimg.com/236x/00/1d/78/001d787a73dd11ac6fafff027bea7b6e.jpg","http://411buyitnow.com/media/catalog/category/home_furniture_accessories.jpg"].sample %>
    <%= image_tag(prod_link) %>
    <p>Cool stuff</p>
  </div>
</section>
<footer>
  &copy; Copyright Philip Castiglione 2015.<br>
  Thieves handed over to the <%= JSON.parse(@horoscope.nouns).sample %>. It won't be pretty.
</footer>